*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #101010;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #ebebeb;
  color: #fff; }

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease; }

.reveal.active {
  transform: translateY(0);
  opacity: 1; }

@font-face {
  font-family: Radikal;
  src: url("./font/Radikal/Nootype - Radikal.otf"); }

body {
  font-family: Radikal;
  font-weight: 400; }

h1 {
  color: #BBBBBB;
  margin: 0;
  font-weight: 400;
  font-size: 10.3rem;
  line-height: 8.7rem;
  position: relative; }

h2 {
  color: #BBBBBB;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 4rem;
  font-size: 7.3rem;
  line-height: 6.7rem; }

h3 {
  color: #BBBBBB;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 4rem;
  font-size: 3rem;
  line-height: 4rem; }

h4 {
  color: #BBBBBB;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 4rem;
  font-size: 1.9rem;
  line-height: 2rem; }

h5 {
  color: #BBBBBB;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 4rem;
  font-size: 1.3rem;
  line-height: 1.4rem; }

h6 {
  color: #BBBBBB;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 4rem;
  font-size: 1rem;
  line-height: 1rem; }

.u-next-section {
  margin-bottom: 15rem !important; }

.full-section {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center; }
