@import "../../abstracts/import";

.experiences {
  width: $width-content;
  margin: 0 auto;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__column {
    margin: 0;
  }
}
