@import "../../abstracts/import";

.home {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;

  &__logo {
    // background-color: orange;
  }

  &__author {
    color: $color-secondary;
  }

  &__text {
    align-self: start;
    word-wrap: break-word;
    transition: all 2s;
    bottom: .5rem;
    max-width: 70%;
  }
}
