@import "../../abstracts/import";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;

  &__author {
    color: $color-secondary;
  }

  &__text {
    align-self: start;
    word-wrap: break-word;
    transition: all 2s;
    bottom: 0.5rem;
  }
}
